

.item1 {
  grid-area: 3/4/6/5;
  position: relative;
}
/* .item1 img{
  position: absolute;
  bottom: 0;
} */
/* .item4 img{
  position: absolute;
  bottom: 0;
} */

.item2 {
  grid-area: 10/4/14/5;
}

.item7 {
  grid-area: 6/4/10/5;
}
.item4 {
  position: relative;
  grid-area: 1/2/8/4;
  
}
.item6 {
  grid-area: 8/2/16/4;
}
.item3{
  grid-area: 7/1/14/2;
}
.item5 {
   grid-area: 4/1/7/2;
}

img{
  object-fit: cover;
}
